
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-yunying:before { content: "\e65d"; }

.icon-jiaonang:before { content: "\e65b"; }

.icon-phone:before { content: "\e658"; }

.icon-logo1:before { content: "\e657"; }

.icon-logo4:before { content: "\e656"; }

.icon-logo3:before { content: "\e655"; }

.icon-logo2:before { content: "\e654"; }

.icon-truck:before { content: "\e642"; }

.icon-yinsi:before { content: "\e637"; }

.icon-tuihuan:before { content: "\e636"; }

.icon-zhengpin:before { content: "\e634"; }

.icon-fukuan:before { content: "\e635"; }

.icon-shoppingcart:before { content: "\e633"; }

.icon-tiwenji:before { content: "\e630"; }

.icon-anquantao:before { content: "\e62a"; }

.icon-ximiannai:before { content: "\e626"; }

.icon-jiaonang0:before { content: "\e61f"; }

.icon-renshen:before { content: "\e61e"; }

.icon-pingzi:before { content: "\e619"; }

.icon-tingzhenqi:before { content: "\e617"; }

.icon-yaodian:before { content: "\e614"; }

.icon-huluobo:before { content: "\e60e"; }

.icon-yanjing:before { content: "\e60a"; }*/

