<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netbull.shop.manage.weixin.dao.ConsultDispatcherDao">
    <insert id="saveConsultDispatcher" parameterType="com.netbull.shop.manage.weixin.vo.ConsultationDispatcher" useGeneratedKeys="true" keyProperty="consultationID">
		INSERT INTO tb_medical_consultation_dispatcher (consultationID, dispatcherType, targetId)
		VALUES( #{consultationID}, #{dispatcherType}, #{targetId})
	</insert>
</mapper>