<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netbull.shop.manage.weixin.dao.ReturnVisitDao">

    <select id="queryLastVisit" parameterType="java.util.Map" resultType="java.util.Map">
        select DATE_FORMAT(V.returnVisitTime,'%Y-%m-%d %H:%i:%s') as returnVisitTime from tb_medical_return_visit V
        	<where>
        	    <if test="doctorID !=null and doctorID !='' and patientID !=null and patientID !=''">
        	        V.returnVisitTime in (select max(returnVisitTime) from tb_medical_return_visit where doctorID=#{doctorID} and patientID=#{patientID})
        	    </if>
        	</where>
    </select>
	
</mapper>