<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netbull.shop.manage.weixin.dao.WXPayRecordDao">

    <select id="queryWXPayRespCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from tb_product_wxpay_response
			<where>
			    <if test="out_trade_no != null and out_trade_no !=''">
				     out_trade_no = #{out_trade_no}
				</if>
			    <if test="mch_id != null and mch_id !=''">
				     and mch_id = #{mch_id}
				</if>
			</where>
	</select>
	
    <select id="queryWXPayRespRecord" parameterType="java.util.Map" resultType="java.util.Map">
		select id,return_code,return_msg,appid,mch_id,device_info,nonce_str,sign,result_code,err_code,err_code_des,trade_type,prepay_id,code_url,openid,is_subscribe,bank_type,total_fee,coupon_fee,fee_type,transaction_id,out_trade_no,attach,time_end from tb_product_wxpay_response
			<where>
			    <if test="out_trade_no != null and out_trade_no !=''">
				     out_trade_no = #{out_trade_no}
				</if>
			    <if test="mch_id != null and mch_id !=''">
				     and mch_id = #{mch_id}
				</if>
			</where>
	</select>
	
	<update id="modifyWXPayRespRecord" parameterType="java.util.Map" >
		UPDATE tb_product_wxpay_response F
				set F.updateTime = now()
				<if test="return_code != null and return_code !=''">
				     ,return_code = #{return_code}
				</if>
				<if test="return_msg != null and return_msg !=''">
				     ,return_msg = #{return_msg}
				</if>
				<if test="appid != null and appid !=''">
				     ,appid = #{appid}
				</if>
				<if test="mch_id != null and mch_id !=''">
				     ,mch_id = #{mch_id}
				</if>
				<if test="device_info != null and device_info !=''">
				     ,device_info = #{device_info}
				</if>
				<if test="nonce_str != null and nonce_str !=''">
				     ,nonce_str = #{nonce_str}
				</if>
				<if test="sign != null and sign !=''">
				     ,sign = #{sign}
				</if>
				<if test="result_code != null and result_code !=''">
				     ,result_code = #{result_code}
				</if>
				<if test="err_code != null and err_code !=''">
				     ,err_code = #{err_code}
				</if>
				<if test="err_code_des != null and err_code_des !=''">
				     ,err_code_des = #{err_code_des}
				</if>
				<if test="trade_type != null and trade_type !=''">
				     ,trade_type = #{trade_type}
				</if>
				<if test="prepay_id != null and prepay_id !=''">
				     ,prepay_id = #{prepay_id}
				</if>
				<if test="code_url != null and code_url !=''">
				     ,code_url = #{code_url}
				</if>
				<if test="openid != null and openid !=''">
				     ,openid = #{openid}
				</if>
				<if test="is_subscribe != null and is_subscribe !=''">
				     ,is_subscribe = #{is_subscribe}
				</if>
				<if test="bank_type != null and bank_type !=''">
				     ,bank_type = #{bank_type}
				</if>
				<if test="total_fee != null and total_fee !=''">
				     ,total_fee = #{total_fee}
				</if>
				<if test="coupon_fee != null and coupon_fee !=''">
				     ,coupon_fee = #{coupon_fee}
				</if>
				<if test="fee_type != null and fee_type !=''">
				     ,fee_type = #{fee_type}
				</if>
				<if test="transaction_id != null and transaction_id !=''">
				     ,transaction_id = #{transaction_id}
				</if>
				<if test="attach != null and attach !=''">
				     ,attach = #{attach}
				</if>
				<if test="time_end != null and time_end !=''">
				     ,time_end = #{time_end}
				</if>
		WHERE F.out_trade_no = #{out_trade_no} and mch_id = #{mch_id}
	</update>
	
	<insert id="saveWXPayReqRecord" parameterType="java.util.Map">
		INSERT INTO tb_product_wxpay_request (appid,mch_id,device_info,nonce_str,sign,body,attach,out_trade_no,total_fee,spbill_create_ip,time_start,time_expire,createTime,goods_tag,notify_url,trade_type,openid,product_id) 
		VALUES(#{appid},#{mch_id},#{device_info},#{nonce_str},#{sign},#{body},#{attach},#{out_trade_no},#{total_fee},#{spbill_create_ip},#{time_start},#{time_expire},now(),#{goods_tag},#{notify_url},#{trade_type},#{openid},#{product_id})
	</insert>
	
	<insert id="saveWXPayRespRecord" parameterType="java.util.Map">
		INSERT INTO tb_product_wxpay_response (return_code,return_msg,appid,mch_id,device_info,nonce_str,sign,result_code,err_code,err_code_des,trade_type,prepay_id,code_url,openid,is_subscribe,bank_type,total_fee,coupon_fee,fee_type,transaction_id,out_trade_no,attach,time_end,createTime) 
		VALUES(#{return_code},#{return_msg},#{appid},#{mch_id},#{device_info},#{nonce_str},#{sign},#{result_code},#{err_code},#{err_code_des},#{trade_type},#{prepay_id},#{code_url},#{openid},#{is_subscribe},#{bank_type},#{total_fee},#{coupon_fee},#{fee_type},#{transaction_id},#{out_trade_no},#{attach},#{time_end},now())
	</insert>
	
</mapper>