<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.odchia.dao.Dao">
<sql id="pageComponent">
    <if test="LIMIT !=null and OFFSET != null">
        limit #{LIMIT} offset #{OFFSET};
    </if>
</sql>
</mapper> 